.contact {
  display: flex;
  justify-content: space-between;
  
  &__text {
    font-size: 24px;
    line-height: 36px;
  }

  &__form {
    width: 379px;
  }

  &__message {
    height: 166px;
  }
}

@media screen and (max-width: $small-screen-breakpoint){
  .contact {
    flex-direction: column;
    align-items: center;

    &__text {
      margin: 0 0 20px 0;
      text-align: center;
    }
  }
}
