.logo {
  width: $logo-width;
  height: $logo-height;
  background-image: url("../images/miami_logo.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}